<div class="form-group mb-3">
    <label for="title" class="form-label">Titre de L'article</label>
    <input required value="<%= article.title%>" type="text" class="form-control" id="title" name="title">
</div>
<div class="form-group mb-3">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" cols="10" rows="5"><%=article.description%></textarea>
</div>
<div class="form-group mb-3">
    <label for="markdown">Article</label>
    <textarea required class="form-control" name="markdown" id="markdown" cols="30" rows="10"><%=article.markdown%></textarea>
</div>

<a href="/" class="btn btn-outline-secondary">Retour</a>
<input class="btn btn-outline-primary" type="submit" value="Sauvegarder">